.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2e3035;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error-message {
  color: red;
  margin: 10px 0;
}

.app-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
  color: #1e67b4;
  text-shadow: 1px 1px 2px rgba(13, 64, 232, 0.701);
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #007bff;
}


.loading-indicator {
  margin-top: 20px;
  font-weight: bold;
}

.error-message {
  color: red;
  margin: 20px 0;
}

.component-container {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
  z-index: 3;
}

.results-container {
  width: 100%; /* Set width to 100% */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.export-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export-button:hover {
  background-color: #45a049;
}
